.app-container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: auto;
  grid-template-rows: 55px 0px auto;
  grid-template-areas:
    "navbar"
    "router"
    "app-differ";
}

.navbar {
  grid-area: navbar;
  border-bottom: 1px #ccc solid;
  background-color: #eee;
  align-items: center;
  padding: 20px;
  box-shadow: 1px 1px 5px #ccc;
}