<mat-toolbar>
  <span>BPMN Gitlab diff</span>
</mat-toolbar>

<div class="content">
  <section class="bpmn-diff__container">
    <mat-form-field>
      <mat-label>Enter your XML</mat-label>
      <textarea matInput placeholder="<sometag> ..."></textarea>
    </mat-form-field>
  </section>

  <section class="bpmn-diff__container">
    <mat-form-field>
      <mat-label>Enter your XML</mat-label>
      <textarea matInput placeholder="<sometag> ..."></textarea>
    </mat-form-field>
  </section>
</div>