<div class="container">
  <div class="sidebar">
    <label>Username: </label>
    <input placeholder="user" [value]="username" (change)="setUsername($event.target.value)" />

    <label>Password: </label>
    <input type="password" placeholder="pwd" [value]="password" (change)="setPassword($event.target.value)" />

    <label>Process Definition Key: </label>
    <input placeholder="definition key" [value]="processKey" (change)="setProcessKey($event.target.value)" />

    <label>Business Key: </label>
    <input placeholder="business key" [value]="businessKey" (change)="setBusinessKey($event.target.value)" />

    <button (click)="retrieveInformations()">Submit</button>
  </div>

  <app-history-viewer class="history-viewer" [bpmn]="bpmn" [history]="history"></app-history-viewer>
</div>
